<% if @user.received_requests.where(:confirmed => "false").any? %>

  <div class="workout-invites">
    <% @user.received_requests.each do |r| %>
      <% if r.confirmed == false %>
        <div class="row invite">
          <div class="small-6 columns">
            <h5><%= r.sender.username %> has invited you to <%= r.workout.activity %></h5>
          </div>
          <div class="small-3 columns">
            <h5><%= link_to 'Confirm', accept_workout_invitation_path(r.workout, r), method: :post  %></h5>
          </div>
            <h5><%= link_to 'Decline', decline_workout_invitation_path(r.workout, r), method: :delete %></h5>
          </div>
        </div>
        </div>

      <% end %>
  </div>
<% end %>



<% end %>