<% if @user.received_requests.where(:confirmed => "false").any? %>

         <% @user.received_requests.each do |r| %>
        <% if r.confirmed == false %>
        <h4><%= link_to r.sender.username + " has invited you to " + r.workout.activity, workout_invitation_url(r.workout, r) %></h4>
        <% end %>
      <% end %>



<% end %>