<div >

<% if @user.sent_ratings.where(:confirmed => nil).any? %>
  <% @user.sent_ratings.where(:confirmed => nil).each do |rating| %>
    <%= link_to "Was " + rating.rated.username + " at " + rating.workout.activity + " ?" , rating_path(rating.id) %> <br>
  <% end %>

  <% if false %>
    <% if @user.sent_ratings.joins(:workout).where("confirmed = ? and workouts.start_date > ?", nil, Date.today.to_date).any? %>
    <% end %>
  <% end %>
<% end %>

</div>
