
<% if @user.workouts.any? %>
  <% @workouts_by_day.each do |w| %>
    <h3><%= w[0].strftime("%A, %b %d") %></h3>
        <% w[1].each do |workout| %>
          <%= link_to workout.activity, workout_path(workout.id) %><br>
          <% end %>
  <% end %>  


  <% else %>

    <h3>No Workouts Scheduled</h3>

  <% end %>  
