
<% if @user.workouts.any? %>
<hr>
  <ul>
    <% @workouts_by_day.each do |w| %>

          <%= w[0].strftime("%A, %b %d") %>  
      
          <% w[1].each do |workout| %>  
          
           <h3> <%= link_to workout.activity, workout_path(workout.id) %> </h3>
                            
          <% end %>
      <hr>
    <% end %>  

  <% else %>
    <h3>No Workouts Scheduled</h3>


  </ul>
  <% end %>  





