
<% if @user.workouts.any? %>
    <% @workouts_by_day.each do |w| %>

      <div class="workout-day">
        <time datetime="<%= w[0] %>"><%= w[0].strftime("%A, %b %d") %></time>

        <% w[1].each do |workout| %>
          <h3 data-time="<%= workout.start_time.strftime("%H:%M:%S") %>"> <%= link_to workout.activity, workout_path(workout.id) %> </h3>
        <% end %>
      </div>
    <% end %>

  <% else %>
    <h3>No Workouts Scheduled</h3>

  <% end %>





