<h1>FitByFriday</h1>
<h2>This Week's Workouts</h2>
<%= link_to "New Workout", new_workout_path %><br>
<br>

<% @workouts.each do |w| %>

  <div>
  <%= link_to w.activity, workout_path(w.id) %><br>
  <%= w.location %><br>
  <%= w.start_time.to_date %>
  </div><br>

<% end %>

