<h1>FitByFriday</h1>

<%= link_to "New Workout", new_workout_path %><br>
<br>

<% @workouts.each do |w| %>

  <div>
  <%= link_to w.activity, workout_path(w.id) %><br>
  <%= w.location %><br>
  <%= w.start_time %>
  </div><br>

<% end %>

<h2>Monday<h2>

<h2>Tuesday</h2>

<h2>Wednesday</h2>

<h2>Thursday</h2>

<h2>Friday</h2>

<h2>Saturday</h2>

<h2>Sunday</h2>