<h1>FitByFriday</h1>

<% if current_user %>
<%= link_to "New Workout", new_workout_path, class: "button" %><br>

  <%= render 'workouts' %>

  <%= render 'invites' %>

<% else %>

<h2>Sign up or Login</h2>

<% end %>