

<h1>Listing users</h1>


<% @users.each do |user| %>
<div class="workout-week">
    Username: <%= link_to user.username %> <br> <br>
    Email: <%= user.email %> <br>
    <br>
  <% end %>
</div>

<div class="workout-week">

<%= link_to 'New User', new_user_path, class: "button" %>

</div>