<div id="interactive_3d">
   <%= image_tag 'frame_1.png' %>
  </div>

  
<script type="text/javascript">
    $(document).ready( function() {
      $("#3d").interactive_3d({
        frames: 38,
        entrance: false
      });
    });
  </script>