
  <div class="main">
    <div class="page_container">
      <div id="3d" class="interactive_3d">
         <%= image_tag 'frame_1.png' %>
        <div class="title small-8 large-left columns">
          <h1>Fit By Friday<small>Schedule a Workout with a friend</small></h1>
          <p>Never miss a workout again.</p>
          <div class="header">
            <div class="menu">
              <!-- <a href="index.html">Demo 1</a> -->
              <h3><%= link_to "Sign Up", new_user_path, class: "button"%> or <%= link_to "Login", login_path %></h3>
            </div>
          </div>
          <!-- <p class="direction"><i class="customicon-move"></i> Please move me!</p> -->
        </div>
      </div>
    </div>
  </div>

  