// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Custom Stylesheet */
body, html {

      margin: 0;
      padding: 0;
      width: 100%;
      -webkit-font-smoothing: antialiased;
      text-align: center;
      line-height: 1.5em;
}


.header-11-sub {
  padding-top: 40px;
  padding-bottom: 110px;
  color: #bdc3c7;
  position: relative;
}
.header-11-sub h3 {
  font-size: 33px;
  font-weight: normal;
  color: #ffffff;
  margin-bottom: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.header-11-sub p {
  font-size: 16px;
  font-weight: normal;
  color: #bdc3c7;
  font-family: "Helvetica";
}


.bg-background {
  background-color: #f2f2f2
}




.logoff {
background-size: 100%;


}

.logo2 {
  height: 140px;
  padding-bottom:20px;
  padding-right: 10px;
}

.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

// LOGOS


.logos {
  background: #f1f1f1;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  .logos {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.logos > .container {
  display: table;
}
.logos > .container > div {
  display: table-cell;
  text-align: center;
}
@media (max-width: 480px) {
  .logos {
    display: none;
  }
}

