// Place all the styles related to the workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#invitefriend {
  padding-top: 3px;
}

div.workout-week {
  border-top: 1px solid #eee;
}

div#user-list {
  text-align: center;
  border-top: 1px solid #eee;
  width: 400px;
}

.workout-day {
  text-align: left;
  font-weight: 200;
    border-top: 1px solid lightgrey;

}

div.workout {
  text-align: left;
}

.workout-details {
  margin-top: -15px;
}

.days {
  background-color: #1693A5;
  h3 {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
}


.fa {
padding-top: 40px;
padding-left: 10px;
}


div.notifications {
  background-color: #f2f2f2;
  text-align: left;
}

div.rating {
  border-bottom: 1px solid lightgrey;
}


.confirm-buttons {
  float: right;
}


.fi-check {
  font-size: 2em;
  color: darkgreen;
}

.fi-x {
  font-size: 2em;
  color: darkred;
}

.fi-plus {
  font-size: 3em;
}

#add-workout {
  text-align: center;
  padding-top: 5px;
}

.add-text {
  padding-top: 5px;
  text-align: left;
}

.invite {
  border-bottom: 1px solid lightgrey;
  text-align: left;
}

.request {
  border-bottom: 1px solid lightgrey;
}

.confirm {
  background: lightgreen;
}

.ignore {
  background: red;
}