// Place all the styles related to the workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.workout-week {
  border-top: 1px solid #eee;
}

div#user-list {
  text-align: center;
  border-top: 1px solid #eee;
  width: 400px;
}

div.workout-day {
  text-align: left;
}

div.workout {
  border-bottom: 1px solid lightgrey;
  text-align: left;
}

div.workout-details {

}


div.notifications {
  background-color: #f2f2f2;
  text-align: left;
}

div.rating {
  border-bottom: 1px solid lightgrey;
}


.confirm-buttons {
  float: right;
}


.fi-check {
  font-size: 2em;
  color: darkgreen;
}

.fi-x {
  font-size: 2em;
  color: darkred;
}

.fi-plus {
  font-size: 3em;
}

.add-workout {
  text-align: left;
}

.add-text {
  padding-top: 5px;
  text-align: left;
}